<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <h3> Sign up </h3>

        <from actions="/signup" method="post">
        {% csrf_token %}
            <lable for=""> Username </lable>
            <input type="text" id="username" name="username" placeholder="Create a username (only letters and numbers)" Required>
            <br>
            <br>

            <lable for=""> First name </lable>
            <input type="text" id="fname" name="fname" placeholder="enter your first name" Required>
            &nbsp
            &nbsp
            <lable for=""> Last name </lable>
            <input type="text" id="lname" name="lname" placeholder="enter your last name" Required>
            <br>
            <br>

            <lable for=""> Email address </lable>
            <input type="email" id="email" name="email" placeholder="enter your Email address" Required>
            <br>
            <br>

            <lable for=""> Password </lable>
            <input type="password" id="pass1" name="pass1" placeholder="enter your password" Required>
            <br>
            <br>

            <lable for=""> Conform password </lable>
            <input type="password" id="pass2" name="pass2" placeholder="Conform your password" Required>
            <br>
            <br>

            <button type="submit"> Sign Up </button> 

        <script src="" async defer></script>
    </body>
</html>